# будут игнорироваться все файлы Thumbs.db
# вне зависимости от того, в каком каталоге они находятся
Thumbs.db
# будут игнорироваться все файлы DS-store
# вне зависимости от того, в каком каталоге они находятся
DS-store
# будут игнорироваться файлы в подкаталоге tmp
tmp/
# будут игнорироваться все файлы, заканчивающиеся на _old
# вне зависимости от того, в каком каталоге они находятся
*_old
# будут игнорироваться все файлы, заканчивающиеся на _backup
# вне зависимости от того, в каком каталоге они находятся
*_backup